body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    height: 100vh; /* Make body take full viewport height */
    background: rgb(238, 240, 241);
    overflow: hidden;
}

.heading {
    display: flex;
    flex-direction: row;
    padding: 5px;
    padding-left: 10px;
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
    background: #6c6ce5;
    color: white;
    font-size: 10px;
    border-color: gray;
    border-width: 3px;
    width: 100%;
    margin: none;
}
h1{
    padding-left: 10px;
    text-align: center;
}
.logo{
    margin-left: 10px;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex: 1;
    padding: 20px;
}

.left-block, .right-block {
    width: 45%;
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    position: relative; /* Ensure relative positioning for absolute child */
    background-color: white;
}

.transcription, .output{
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
    padding-left: 5px;
    height: 45%;
    margin: 10px;
    overflow: scroll;
}

.status{
    display: block;
    background: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 150px;
    height: 20px;
    padding: 3px;
    padding-left: 10px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    display:flex;
    flex-direction: row;
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}
.connection{
    display: block;
    text-align: right;
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}
.circle1{
    display: block;
    border-radius:50%;
    border: 1px solid #000000;
    background:none;
    width: 20px;
    height: 20px;
    margin-right: 2px;
    transform: translate(-12%, -2%);
}
.circle2{
    display: block;
    border-radius:50%;
    border: 1px solid #ccc;
    background:red;
    width: 13px;
    height: 13px;
    margin: 2.5px 3px;
}

h2 {
    margin-top: 0;
}

.btn {
    display: block;
    width: 50vh;
    height: 50vh;
    min-width: 150px;
    min-height: 150px;
    line-height: 80px;
    border-width: 3px;
    border-top-color: rgb(97, 97, 97);
    border-bottom-color: rgb(97, 97, 97);
    border-radius: 50%;
    color: #f5f5f5;
    text-align: center;
    text-decoration: none;
    background: #AF6CF1;
    box-shadow: 0 0 10px gray;
    font-size:calc(8px + 2vh);
    font-weight: bold;
    cursor: pointer;

    position: absolute;
    top: 5vh;
    left: 50%; 
    transform: translate(-50%, 0%);
}


.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.15);
    transition: opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;
}

.btn:hover::before {
    opacity: 1;
}

.btn span {
    position: relative;
    z-index: 1;
}

.csbtn {
    display: block;
    cursor: pointer;
    border: 2px solid rgb(97, 97, 97);
    border-radius: 10px;
    padding: 2px 10px;
    min-width: 30vh;
    color: #f5f5f5;
    text-align: center;
    text-decoration: none;
    background: #555777;
    box-shadow: 0 0 8px gray;
    font-size: 3vh;
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;

    position: absolute;
    top: 70vh;
    left: 50%; 
    transform: translate(-50%, 0%);
}

.csbtn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;
}

.csbtn:hover::before {
    opacity: 1;
}

.csbtn span {
    position: relative;
    z-index: 1;
}
.trbtn {
    display: block;
    cursor: pointer;
    /*width: 100px;
    height: 20px;*/
    min-width: 30vh;
    border: 2px solid rgb(97, 97, 97);
    border-radius: 10px;
    padding: 2px 10px;
    color: #f5f5f5;
    text-align: center;
    text-decoration: none;
    background: #6c6ce5;
    box-shadow: 0 0 8px gray;
    font-size: 3vh;
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;

    position: absolute;
    top: 57vh;
    left: 50%; 
    transform: translate(-50%, 0%);
}
.trbtn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;
}

.trbtn:hover::before {
    opacity: 1;
}

.trbtn span {
    position: relative;
    z-index: 1;
}
.etbtn {
    display: block;
    cursor: pointer;
    min-width: 32vh;
    border: 2px solid rgb(97, 97, 97);
    border-radius: 10px;
    padding: 2px 10px;
    color: #f5f5f5;
    text-align: center;
    text-decoration: none;
    background: #555777;
    box-shadow: 0 0 8px gray;
    font-size: 3vh;
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;

    position: absolute;
    top: 63.5vh;
    left: 50%; 
    transform: translate(-50%, 0%);
}
.etbtn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;
}

.etbtn:hover::before {
    opacity: 1;
}

.etbtn span {
    position: relative;
    z-index: 1;
}
.transcription {
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}
.github{
    display:block;
    width: 41px;
    height: 41px;
    background: none; 
    border: none;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 1px 1px;

}
.github::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.15);
    transition: opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
}

.github:hover::before {
    opacity: 1;
    box-shadow: 10px;
}

.github span {
    position: relative;
    z-index: 1;
}